@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background-color: var(--color3);
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    width: 100%;
}

.logo img {
    height: 50px;
    margin-top: 10px;
}

.sidebar {
    height: 100vh;
    width: 80px;
    background-color: var(--color1);
    position: fixed;
    /* Importante para que tenga su propio contexto */
    top: 0;
    left: 0;
    z-index: 30;
    /* Más alto: siempre arriba */
}


.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100%
}

.menu li {
    margin: 20px 0;
}

.menu img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.fa-solid {
    color: var(--color_texto);
}

.barra-espacio {
    margin-top: 70px;
    width: 100%;
    height: 5dvh;
    position: fixed;
    z-index: 20;
    background-color: var(--colorB);
    box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
}

.barra-espacio h2 {
    margin-left: 7%;
    color: var(--color_texto);
    font-size: 30px;
    font-weight: bold;
    line-height: 1dvh;
}

.main-content {
    background-color: var(--color_texto);
    height: 100dvh;
    margin-left: 80px;
    position: relative;
    z-index: 10;
    padding-top: 9%;
    padding-left: 2%;
    background-image: url("/src/img/Recompensas.png");

}


.grupos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.grupo-card {
    display: flex;
    background-color: var(--color5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    padding: 20px;
    color: var(--color_texto);
    align-items: center;
    border: solid;
    border-image: linear-gradient(90deg, rgba(60, 172, 59, 1) 0%, rgba(42, 57, 141, 1) 50%, rgba(230, 29, 37, 1) 100%) 1 / 5px;
}

.grupo-card h2 {
    margin: 0 15px;
}

.card-item {
    background-color: blueviolet;
    padding: 5px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}