@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #232f70;
    --color3: #2a398d;
    --color2: #38b6ff;
    --color_texto: #f0f0f0;
    --colorB: #474a4a;
    --color5: #555757;
    --color6: #3cac3b;
}

@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    background-image: url("../img/fondo-logo.png");
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    width: 100%;
}

.logo img {
    height: 50px;
    margin-top: 10px;
}

.sidebar {
    height: 100vh;
    width: 80px;
    background-color: var(--color1);
    position: fixed;
    /* Importante para que tenga su propio contexto */
    top: 0;
    left: 0;
    z-index: 30;
    /* Más alto: siempre arriba */
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100%
}

.menu li {
    margin: 20px 0;
}

.menu img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.fa-solid {
    color: var(--color_texto);
}

.barra-espacio {
    margin-top: 70px;
    width: 100%;
    height: 5dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    background-color: var(--colorB);
    box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
}

.barra-espacio button {
    background-color: var(--color2);
    color: var(--color_texto);
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: large;
}
    
.barra-espacio h2 {
    margin-left: 7%;
    color: var(--color_texto);
    font-size: 30px;
    font-weight: bold;
    line-height: 1dvh;
}

.main-content {
    background-color: var(--color_texto);
    height: 100dvh;
    margin-left: 80px;
    position: relative;
    z-index: 10;
    padding-top: 9%;
    padding-left: 2%;
    background-image: url("../img/Recompensas.png");
}